* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(55, 10, 63);
    color: white;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgb(47, 39, 82);
    font-size: large;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;

}

nav ul li a {
    text-decoration: none;
    margin: 0 23px;
    color: white;

}

nav ul li:hover {
    color: rgb(202, 39, 140);

}

.left {
    font-size: 1.5rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 23px o;
}

.firstsection div {
    width: 30%;

}

.leftsection {
    font-size: 3rem;
    margin: 30px 0;

}

.rightsection img {
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 15px 15px rgb(25, 3, 36);
}

.purple {
    color: rgb(119, 177, 26);
}

.nav_list {
    li :hover {
        color: rgb(39, 99, 151);
    }

}

footer ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-direction: row; 
    gap: 15px; 


}


footer ul li a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a28a2a;
    color: #040000;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

footer ul li a:hover {
    color: rgb(228, 235, 244);
    background-color: #010711;
    text-decoration: underline;
}

